[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=cursedcolor
X-Python-2-Compatible=false
X-Krita-Manual=
Name=Cursed Color
Comment=Maps CPU/GPU temp to canvas RGB values
